 @font-face {
    font-family: 'Summer Calling';
    src: local('Summer Calling'), local('SummerCalling'),
        url('SummerCalling.woff2') format('woff2'),
        url('SummerCalling.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} 
 


