@import url('./fonts/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* File: font.css */
@font-face {
    font-family: 'SummerCalling';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/SummerCalling.woff') format('woff'),
         url('./fonts/SummerCalling.woff2') format('woff2');
}


